#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/<YOUR_PATH>/skel.gui/main.bin
Name=skel
Comment=skel
Icon=/<YOUR_PATH>/skel.gui/cog.png